# Berlin Building Permits (source-aligned) - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/berlin-building-permits-2025-04-csv/berlin-building-permits-2025-04-9-permits-by-district-new-buildings-with-1-or-2-apartments-districts.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

   id measures volume usage_area apartments living_area estimated_costs
0   1        –      –          –          –           –               –
1   2        –      –          –          –           –               –
2   3        4      3        0.9          5         4.9            1225
3   4        5      8        5.5          5        11.3            5176
4   5        3      2          –          3           4             830

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               12 non-null     int64
 1   measures         12 non-null     object
 2   volume           12 non-null     object
 3   usage_area       12 non-null     object
 4   apartments       12 non-null     object
 5   living_area      12 non-null     object
 6   estimated_costs  12 non-null     object
dtypes: int64(1), object(6)
memory usage: 804.0+ bytes

In [4]:
# Describe dataframe
dataframe.describe()

              id
count  12.000000
mean    6.500000
std     3.605551
min     1.000000
25%     3.750000
50%     6.500000
75%     9.250000
max    12.000000